<VirtualHost *:80>
    ServerAdmin dharnel2863@gmail.com
    ServerName miniproject.niellaravelapp.me
    ServerAlias www.miniproject.niellaravelapp.me
    DocumentRoot /var/www/niellaravelapp1/public

    <Directory /var/www/niellaravelapp1>
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          allow from all
          Require all granted
    </Directory>
    

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>


